

/*
_____________________________
Grid
_____________________________
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box;
}

body {
	margin: 0;
}

h1 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222;
	font-size: 60px;
	font-weight: 900;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 0;
}

h5 {
	font-family: Georgia;
	color: #999;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin-top: 20px;
}

.aboriginal_image {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 0;
	display: block;
}

.aboriginal_image_footnote {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #666;
	text-align: left;
	padding-top: 20px;
	max-width: 765px;
	margin: 0 auto;
}

hr {
	max-width: 775px;
	border: 1px solid #ccc;
	margin-top: 80px;
	margin-bottom: 80px;
}

h4{
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: black;
	color: #999;
}

.contents_title {
	font-family: Georgia;
	font-weight: normal;
	font-size: 20px;
	color: #222;
	line-height: 150%;
}

.contents_subtitle {
	font-family: Georgia;
	font-weight: normal;
	font-size: 16px;
	color: #666;
	line-height: 150%;
	list-style-type: none;
}

.contents ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contents ol {
	margin-left: -40px;
}

.contents li {
	font-family: Georgia;
	font-weight: normal;
	font-size: 20px;
	color: #999;
}

.contents {
	margin-left: 80px;
}


h2 {
	font-family: 'Open Sans';
	font-weight: black;
	font-size: 36px;
	color: #222;
	text-align: left;
	margin-bottom: 40px;
}

p{
	font-family: Georgia;
	font-weight: normal;
	font-size: 16px;
	color: #222;
	text-align: left;
	max-width: 775px;
	line-height: 175%;
}

blockquote {
	font-family: Georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 20px;
	color: #222;
	line-height: 175%;
	text-align: left;

	max-width: 965px;
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 55px;
	padding: 40px;

	background: #f6f6f6;
	border-left: 10px solid #e3e3e3;
}

h3 {
	font-family: 'Open Sans';
	font-weight: black;
	font-size: 28px;
	color: #222;
	text-align: left;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 45px;
	max-width: 775px;
}

.names_list {
	font-family: Georgia;
	font-weight: normal;
	font-size: 16px;
	color: #222;
	text-align: left;

	max-width: 410px;
	margin: 0 0;
	line-height: 175%;
	list-style-type: circle;
	clear: both;
}

.hut_image {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0 0;
	text-align: center;
	width: 375px;
	display: block;
	float: right;
}

.hut_image_footnote {
	font-family: 'Open Sans';
	font-size: 14px;
	color: #666;
	text-align: left;
	padding-top: 20px;
	max-width: 765px;
	margin: 0 0;
	clear: both;

}

.container {
	margin: 0 auto;
	max-width: 775px;
}

